footer{
    font-size: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background-color: rgb(255, 71, 71);   
     position: fixed;
      bottom: 0;
}